*background: {{background}}
*foreground: {{foreground}}

*colorBD: {{fg_highlight}}
*colorIT: {{fg_highlight}}
*colorUL: {{fg_highlight}}

*cursorColor: {{cyan}}

! BLK
*color0: {{background}}
*color8: {{fg_comment}}

! WHT
*color7:  {{foreground}}
*color15: {{fg_highlight}}

! RED
*color1: {{orange}}
*color9: {{red}}

! YEL
*color3: {{violet}}
*color11: {{yellow}}

! GRN
*color2: {{pink}}
*color10: {{green}}

! CYN
*color6: {{bg_bump}}
*color14: {{cyan}}

! BLU
*color4: {{spring}}
*color12: {{azure}}

! MAG
*color5: {{teal}}
*color13: {{magenta}}
