#! /bin/dash

printf "\033]P0{{background|rawhex}}"   # black
printf "\033]P8{{fg_comment|rawhex}}"   # darkgrey

printf "\033]P7{{foreground|rawhex}}"   # lightgrey
printf "\033]PF{{fg_highlight|rawhex}}" # white

printf "\033]P6{{bg_bump|rawhex}}"      # darkcyan
printf "\033]PE{{cyan|rawhex}}"         # cyan

printf "\033]P1{{orange|rawhex}}"       # darkred
printf "\033]P9{{red|rawhex}}"          # red

printf "\033]P2{{pink|rawhex}}"         # darkgreen
printf "\033]PA{{green|rawhex}}"        # green

printf "\033]P3{{violet|rawhex}}"       # darkyellow
printf "\033]PB{{yellow|rawhex}}"       # yellow

printf "\033]P4{{spring|rawhex}}"       # darkblue
printf "\033]PC{{azure|rawhex}}"        # blue

printf "\033]P5{{teal|rawhex}}"         # darkmagenta
printf "\033]PD{{magenta|rawhex}}"      # magenta

clear
