#! /bin/dash

printf "\033]P0{{background|rawhex}}"   # black
printf "\033]P8{{fg_comment|rawhex}}"   # dark grey

printf "\033]P7{{foreground|rawhex}}"   # light grey
printf "\033]PF{{fg_peak|rawhex}}"      # white

printf "\033]P6{{darkcyan|rawhex}}"     # dark cyan
printf "\033]PE{{cyan|rawhex}}"         # cyan

printf "\033]P1{{darkred|rawhex}}"      # dark red
printf "\033]P9{{red|rawhex}}"          # red

printf "\033]P2{{darkgreen|rawhex}}"    # dark green
printf "\033]PA{{green|rawhex}}"        # green

printf "\033]P3{{darkyellow|rawhex}}"   # dark yellow
printf "\033]PB{{yellow|rawhex}}"       # yellow

printf "\033]P4{{darkblue|rawhex}}"     # dark blue
printf "\033]PC{{blue|rawhex}}"         # blue

printf "\033]P5{{darkmagenta|rawhex}}"  # dark magenta
printf "\033]PD{{magenta|rawhex}}"      # magenta

clear
