set default-bg '{{bg_dip}}'
set default-fg '{{foreground}}'
set inputbar-bg '{{bg_bump}}'
set inputbar-fg '{{foreground}}'
set statusbar-bg '{{bg_bump}}'
set statusbar-fg '{{foreground}}'
set recolor-darkcolor '{{foreground}}'
set recolor-lightcolor '{{background}}'
set highlight-color '{{background|C(80)}}'
set highlight-active-color '{{background|H(180)|C(80)}}'
set highlight-transparency 0.3
