" Vim Color File
" Name:       raven256.vim
" Version:    0.2
" Maintainer: baskerville at lavabit.com

hi clear

if exists("syntax on")
    syntax reset
endif

let g:colors_name="raven256"

"
" preferred groups
" (:h w18)
"
hi Normal          cterm=none ctermfg={{foreground_i}} ctermbg={{background_i}}
hi Comment         cterm=none ctermfg={{fg_comment_i}}

hi Constant        ctermfg={{yellow_i}}
hi String          ctermfg={{yellow_i}}
hi Character       ctermfg={{yellow_i}}
hi Number          ctermfg={{yellow_i}}
hi Boolean         ctermfg={{yellow_i}}
hi Float           ctermfg={{yellow_i}}

hi Identifier      ctermfg={{magenta_i}}
hi Function        ctermfg={{violet_i}}

hi Statement       ctermfg={{teal_i}}
hi Conditional     ctermfg={{teal_i}}
hi Repeat          ctermfg={{teal_i}}
hi Label           ctermfg={{teal_i}}
hi Operator        ctermfg={{cyan_i}}
hi Keyword         ctermfg={{teal_i}}
hi Exception       ctermfg={{teal_i}}

hi PreProc         ctermfg={{azure_i}}
hi Include         ctermfg={{azure_i}}
hi Define          ctermfg={{azure_i}}
hi Macro           ctermfg={{azure_i}}
hi PreCondit       ctermfg={{azure_i}}

hi Type            ctermfg={{orange_i}}
hi StorageClass    ctermfg={{orange_i}}
hi Structure       ctermfg={{orange_i}}
hi Typedef         ctermfg={{orange_i}}

hi Special         ctermfg={{pink_i}}
hi SpecialChar     ctermfg={{pink_i}}
hi Tag             ctermfg={{pink_i}}
hi Delimiter       ctermfg={{blue_i}}
hi SpecialComment  ctermfg={{pink_i}}
hi Debug           ctermfg={{pink_i}}

hi Underlined      ctermfg=fg
hi Ignore          ctermfg=bg
hi Error           ctermfg=bg  ctermbg={{pink_i}}
hi Todo            ctermfg={{green_i}}  ctermbg=bg    cterm=none

"
" minor groups
"
hi StatusLine      cterm=none ctermfg={{fg_highlight_i}} ctermbg={{bg_jump_i}}
hi StatusLineNC    cterm=none ctermfg=fg                 ctermbg={{bg_jump_i}}

hi TabLine         cterm=none ctermfg=fg                  ctermbg={{bg_jump_i}}
hi TabLineSel      cterm=none ctermfg={{fg_highlight_i}}  ctermbg={{bg_jump_i}}
hi TabLineFill     cterm=none ctermbg={{bg_jump_i}}

hi Pmenu           ctermfg={{fg_peak_i}}       ctermbg={{fg_comment_i}}
hi PmenuSel        ctermfg=bg       ctermbg=fg
hi PmenuSbar       ctermbg={{fg_comment_i}}
hi PmenuThumb      ctermbg=fg
hi WildMenu        ctermfg=bg       ctermbg=fg    cterm=none

hi Visual          cterm=none ctermfg=bg      ctermbg={{violet_i}}
hi VisualNOS       cterm=none ctermfg=bg      ctermbg={{magenta_i}}
hi VertSplit       cterm=none ctermfg={{bg_jump_i}}      ctermbg={{bg_jump_i}}
hi LineNr          ctermfg={{fg_comment_i}}   ctermbg={{bg_bump_i}}
hi CursorLineNr    ctermfg=fg                 ctermbg={{bg_bump_i}}

hi Title           ctermfg={{azure_i}}
hi SpecialKey      ctermfg={{green_i}}
hi Conceal         ctermfg={{green_i}}       ctermbg=bg
hi NonText         ctermfg={{fg_comment_i}}
hi MatchParen      ctermfg={{fg_highlight_i}}   ctermbg=bg  cterm=underline
hi Directory       ctermfg={{violet_i}}

hi ErrorMsg        ctermfg={{red_i}}      ctermbg=bg
hi WarningMsg      ctermfg={{orange_i}}   ctermbg=bg
hi MoreMsg         ctermfg={{teal_i}}     ctermbg=bg
hi ModeMsg         ctermfg={{pink_i}}     ctermbg=bg

hi Search          ctermfg=bg  ctermbg={{yellow_i}}
hi IncSearch       cterm=none  ctermfg=bg  ctermbg={{pink_i}}
hi Question        ctermfg={{azure_i}}

hi Folded          ctermfg={{fg_comment_i}}     ctermbg={{bg_dip_i}}
hi FoldColumn      ctermfg={{fg_comment_i}}     ctermbg={{bg_dip_i}}
hi SignColumn      ctermfg={{fg_comment_i}}     ctermbg={{bg_dip_i}}
hi ColorColumn     ctermfg={{fg_comment_i}}     ctermbg={{bg_dip_i}}

hi CursorColumn    cterm=none ctermbg={{bg_bump_i}}
hi CursorLine      cterm=none ctermbg={{bg_bump_i}}

hi vimFold         ctermfg={{fg_comment_i}}
hi vimCommentTitle ctermfg=fg
hi helpHyperTextJump ctermfg={{azure_i}}

hi htmlTag         ctermfg={{violet_i}}
hi htmlEndTag      ctermfg={{violet_i}}
hi htmlTagName     ctermfg={{pink_i}}
hi htmlString      ctermfg={{yellow_i}}

hi diffFile        ctermfg={{fg_comment_i}}
hi diffLine        ctermfg={{fg_comment_i}}
hi diffAdded       ctermfg={{green_i}}
hi diffRemoved     ctermfg={{pink_i}}
hi diffChanged     ctermfg={{orange_i}}

hi diffAdd         cterm=none    ctermfg=bg    ctermbg={{green_i}}
hi diffDelete      cterm=none    ctermfg=bg    ctermbg={{red_i}}
hi diffChange      cterm=none    ctermfg=bg    ctermbg={{violet_i}}
hi diffText        cterm=none    ctermfg=bg    ctermbg={{yellow_i}}
hi diffOldLine     cterm=none    ctermfg=bg    ctermbg={{fg_comment_i}}

hi SpellBad        cterm=underline ctermfg={{red_i}}        ctermbg=bg
hi SpellCap        cterm=underline ctermfg={{pink_i}}       ctermbg=bg
hi SpellRare       cterm=underline ctermfg={{violet_i}}     ctermbg=bg
hi SpellLocal      cterm=underline ctermfg={{orange_i}}     ctermbg=bg

hi mkdCode         ctermfg={{fg_comment_i}}
hi mkdURL          ctermfg={{azure_i}}
hi mkdLink         ctermfg={{magenta_i}}

" vim: set ft=vim
