" Vim Color File
"       Name: raven8.vim
"    Version: 0.2
" Maintainer: baskerville <nihilhill *at* gmail *dot* com>

hi clear

if exists("syntax_on")
    syntax reset
endif

let g:colors_name="raven8"

" Cf. `:h w18`

hi Normal         cterm=none ctermfg={{foreground_n}} ctermbg={{background_n}}
hi Comment        cterm=none ctermfg={{fg_comment_n}}

hi Constant       ctermfg={{yellow_n}}
hi Identifier     ctermfg={{magenta_n}}
hi Statement      ctermfg={{green_n}}
hi PreProc        ctermfg={{blue_n}}
hi Type           ctermfg={{cyan_n}}
hi Special        ctermfg={{red_n}}
hi Underlined     ctermfg=fg
hi Ignore         ctermfg=bg
hi Error          ctermfg=bg  ctermbg={{red_n}}
hi Todo           ctermfg={{green_n}}  ctermbg=bg    cterm=none
hi StatusLine     cterm=none ctermfg={{fg_peak_n}}
hi StatusLineNC   cterm=none ctermfg={{fg_comment_n}}

" vim: set ft=vim:
