<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Ansi 0 Color</key>
	<dict>
		<key>Blue Component</key>
		<real>{{bg_jump|scaledrgb('B')}}</real>
		<key>Green Component</key>
		<real>{{bg_jump|scaledrgb('G')}}</real>
		<key>Red Component</key>
		<real>{{bg_jump|scaledrgb('R')}}</real>
	</dict>
	<key>Ansi 1 Color</key>
	<dict>
		<key>Blue Component</key>
		<real>{{darkred|scaledrgb('B')}}</real>
		<key>Green Component</key>
		<real>{{darkred|scaledrgb('G')}}</real>
		<key>Red Component</key>
		<real>{{darkred|scaledrgb('R')}}</real>
	</dict>
	<key>Ansi 10 Color</key>
	<dict>
		<key>Blue Component</key>
		<real>{{green|scaledrgb('B')}}</real>
		<key>Green Component</key>
		<real>{{green|scaledrgb('G')}}</real>
		<key>Red Component</key>
		<real>{{green|scaledrgb('R')}}</real>
	</dict>
	<key>Ansi 11 Color</key>
	<dict>
		<key>Blue Component</key>
		<real>{{yellow|scaledrgb('B')}}</real>
		<key>Green Component</key>
		<real>{{yellow|scaledrgb('G')}}</real>
		<key>Red Component</key>
		<real>{{yellow|scaledrgb('R')}}</real>
	</dict>
	<key>Ansi 12 Color</key>
	<dict>
		<key>Blue Component</key>
		<real>{{blue|scaledrgb('B')}}</real>
		<key>Green Component</key>
		<real>{{blue|scaledrgb('G')}}</real>
		<key>Red Component</key>
		<real>{{blue|scaledrgb('R')}}</real>
	</dict>
	<key>Ansi 13 Color</key>
	<dict>
		<key>Blue Component</key>
		<real>{{magenta|scaledrgb('B')}}</real>
		<key>Green Component</key>
		<real>{{magenta|scaledrgb('G')}}</real>
		<key>Red Component</key>
		<real>{{magenta|scaledrgb('R')}}</real>
	</dict>
	<key>Ansi 14 Color</key>
	<dict>
		<key>Blue Component</key>
		<real>{{cyan|scaledrgb('B')}}</real>
		<key>Green Component</key>
		<real>{{cyan|scaledrgb('G')}}</real>
		<key>Red Component</key>
		<real>{{cyan|scaledrgb('R')}}</real>
	</dict>
	<key>Ansi 15 Color</key>
	<dict>
		<key>Blue Component</key>
		<real>{{fg_peak|scaledrgb('B')}}</real>
		<key>Green Component</key>
		<real>{{fg_peak|scaledrgb('G')}}</real>
		<key>Red Component</key>
		<real>{{fg_peak|scaledrgb('R')}}</real>
	</dict>
	<key>Ansi 2 Color</key>
	<dict>
		<key>Blue Component</key>
		<real>{{darkgreen|scaledrgb('B')}}</real>
		<key>Green Component</key>
		<real>{{darkgreen|scaledrgb('G')}}</real>
		<key>Red Component</key>
		<real>{{darkgreen|scaledrgb('R')}}</real>
	</dict>
	<key>Ansi 3 Color</key>
	<dict>
		<key>Blue Component</key>
		<real>{{darkyellow|scaledrgb('B')}}</real>
		<key>Green Component</key>
		<real>{{darkyellow|scaledrgb('G')}}</real>
		<key>Red Component</key>
		<real>{{darkyellow|scaledrgb('R')}}</real>
	</dict>
	<key>Ansi 4 Color</key>
	<dict>
		<key>Blue Component</key>
		<real>{{darkblue|scaledrgb('B')}}</real>
		<key>Green Component</key>
		<real>{{darkblue|scaledrgb('G')}}</real>
		<key>Red Component</key>
		<real>{{darkblue|scaledrgb('R')}}</real>
	</dict>
	<key>Ansi 5 Color</key>
	<dict>
		<key>Blue Component</key>
		<real>{{darkmagenta|scaledrgb('B')}}</real>
		<key>Green Component</key>
		<real>{{darkmagenta|scaledrgb('G')}}</real>
		<key>Red Component</key>
		<real>{{darkmagenta|scaledrgb('R')}}</real>
	</dict>
	<key>Ansi 6 Color</key>
	<dict>
		<key>Blue Component</key>
		<real>{{darkcyan|scaledrgb('B')}}</real>
		<key>Green Component</key>
		<real>{{darkcyan|scaledrgb('G')}}</real>
		<key>Red Component</key>
		<real>{{darkcyan|scaledrgb('R')}}</real>
	</dict>
	<key>Ansi 7 Color</key>
	<dict>
		<key>Blue Component</key>
		<real>{{fg_highlight|scaledrgb('B')}}</real>
		<key>Green Component</key>
		<real>{{fg_highlight|scaledrgb('G')}}</real>
		<key>Red Component</key>
		<real>{{fg_highlight|scaledrgb('R')}}</real>
	</dict>
	<key>Ansi 8 Color</key>
	<dict>
		<key>Blue Component</key>
		<real>{{fg_comment|scaledrgb('B')}}</real>
		<key>Green Component</key>
		<real>{{fg_comment|scaledrgb('G')}}</real>
		<key>Red Component</key>
		<real>{{fg_comment|scaledrgb('R')}}</real>
	</dict>
	<key>Ansi 9 Color</key>
	<dict>
		<key>Blue Component</key>
		<real>{{red|scaledrgb('B')}}</real>
		<key>Green Component</key>
		<real>{{red|scaledrgb('G')}}</real>
		<key>Red Component</key>
		<real>{{red|scaledrgb('R')}}</real>
	</dict>
	<key>Background Color</key>
	<dict>
		<key>Blue Component</key>
		<real>{{background|scaledrgb('B')}}</real>
		<key>Green Component</key>
		<real>{{background|scaledrgb('G')}}</real>
		<key>Red Component</key>
		<real>{{background|scaledrgb('R')}}</real>
	</dict>
	<key>Bold Color</key>
	<dict>
		<key>Blue Component</key>
		<real>{{fg_highlight|scaledrgb('B')}}</real>
		<key>Green Component</key>
		<real>{{fg_highlight|scaledrgb('G')}}</real>
		<key>Red Component</key>
		<real>{{fg_highlight|scaledrgb('R')}}</real>
	</dict>
	<key>Cursor Color</key>
	<dict>
		<key>Blue Component</key>
		<real>{{cyan|scaledrgb('B')}}</real>
		<key>Green Component</key>
		<real>{{cyan|scaledrgb('G')}}</real>
		<key>Red Component</key>
		<real>{{cyan|scaledrgb('R')}}</real>
	</dict>
	<key>Cursor Text Color</key>
	<dict>
		<key>Blue Component</key>
		<real>{{background|scaledrgb('B')}}</real>
		<key>Green Component</key>
		<real>{{background|scaledrgb('G')}}</real>
		<key>Red Component</key>
		<real>{{background|scaledrgb('R')}}</real>
	</dict>
	<key>Foreground Color</key>
	<dict>
		<key>Blue Component</key>
		<real>{{foreground|scaledrgb('B')}}</real>
		<key>Green Component</key>
		<real>{{foreground|scaledrgb('G')}}</real>
		<key>Red Component</key>
		<real>{{foreground|scaledrgb('R')}}</real>
	</dict>
	<key>Selected Text Color</key>
	<dict>
		<key>Blue Component</key>
		<real>{{fg_peak|scaledrgb('B')}}</real>
		<key>Green Component</key>
		<real>{{fg_peak|scaledrgb('G')}}</real>
		<key>Red Component</key>
		<real>{{fg_peak|scaledrgb('R')}}</real>
	</dict>
	<key>Selection Color</key>
	<dict>
		<key>Blue Component</key>
		<real>{{darkmagenta|scaledrgb('B')}}</real>
		<key>Green Component</key>
		<real>{{darkmagenta|scaledrgb('G')}}</real>
		<key>Red Component</key>
		<real>{{darkmagenta|scaledrgb('R')}}</real>
	</dict>
</dict>
</plist>
