#! /bin/dash

printf '\033[?47t'                      # toggle screen buffer
printf '\033[2J'                        # clear screen

printf '\033]11;{{background|slashedhex}}\007'     # background
printf '\033]708;{{background|slashedhex}}\007'    # border
printf '\033]10;{{foreground|slashedhex}}\007'     # foreground
printf '\033]706;{{fg_highlight|slashedhex}}\007'  # bold
printf '\033]704;{{fg_highlight|slashedhex}}\007'  # italic
printf '\033]707;{{fg_highlight|slashedhex}}\007'  # underline
printf '\033]12;{{cyan|slashedhex}}\007'           # cursor

printf '\033]4;0;{{background|slashedhex}}\007'    # black
printf '\033]4;8;{{fg_comment|slashedhex}}\007'    # darkgrey

printf '\033]4;7;{{foreground|slashedhex}}\007'    # lightgrey
printf '\033]4;15;{{fg_highlight|slashedhex}}\007' # white

printf '\033]4;1;{{orange|slashedhex}}\007'        # darkred
printf '\033]4;9;{{red|slashedhex}}\007'           # red

printf '\033]4;3;{{violet|slashedhex}}\007'        # darkyellow
printf '\033]4;11;{{yellow|slashedhex}}\007'       # yellow

printf '\033]4;2;{{pink|slashedhex}}\007'          # darkgreen
printf '\033]4;10;{{green|slashedhex}}\007'        # green

printf '\033]4;6;{{bg_bump|slashedhex}}\007'       # darkcyan
printf '\033]4;14;{{cyan|slashedhex}}\007'         # cyan

printf '\033]4;4;{{spring|slashedhex}}\007'        # darkblue
printf '\033]4;12;{{azure|slashedhex}}\007'        # blue

printf '\033]4;5;{{teal|slashedhex}}\007'          # darkmagenta
printf '\033]4;13;{{magenta|slashedhex}}\007'      # magenta

printf '\033[?47t'                      # toggle screen buffer
