html,body {
    background: {{background}} !important;
    color: {{foreground}} !important;
    font-family: sans-serif !important;
}

pre {
    font-family: monospace !important;
}

a {
    color: {{azure}} !important;
}
