* {
    background: {{background}} !important;
    color: {{foreground}} !important;
    font-family: sans-serif !important;
}

pre, code {
    font-family: monospace !important;
}

a {
    color: {{azure}} !important;
}
