html,body,h1,h2,h3,h4,h5,h6 {
    background: {{background}} !important;
    color: {{foreground}} !important;
    font-family: sans-serif !important;
}

pre,code {
    background: {{background}} !important;
    color: {{foreground}} !important;
    font-family: monospace !important;
}

a {
    color: {{azure}} !important;
}
