simpleswitcher.font:       sans-serif:pixelsize=24
simpleswitcher.background: {{background}}
simpleswitcher.foreground: {{foreground}}
simpleswitcher.bordercolor: {{bg_dip}}
simpleswitcher.highlightbg: {{cyan|_L(bg_jump)}}
simpleswitcher.highlightfg: {{fg_highlight}}
simpleswitcher.borderwidth: 16

