[options]
font = Fira Mono OT 11
scrollback_lines = 10000
scroll_on_output = false
scroll_on_keystroke = true
resize_grip = false
audible_bell = false
visible_bell = false
search_wrap = true
mouse_autohide = false
allow_bold = false
dynamic_title = true
urgent_on_bell = true
clickable_url = true
geometry = 800x800+0+0

# "system", "on" or "off"
cursor_blink = off

# "block", "underline" or "ibeam"
cursor_shape = block

# $BROWSER is used by default
#browser =

# word characters used for word selection
# (default if unset: all graphic non-punctuation/space characters)
#word_chars = -A-Za-z0-9,./?%&#:_=+@~

# set size hints for the window
#size_hints = false

[colors]
background = {{background}}
foreground = {{foreground}}
foreground_bold = {{fg_highlight}}
# foreground_dim =

# if unset, will reverse foreground and background
# cursor =
# highlight =

# colors from color0 to color254 can be set

# BLACK
color0 = {{bg_jump}}
color8 = {{fg_comment}}

# WHITE
color7 = {{fg_highlight}}
color15 = {{fg_peak}}

# RED
color1 = {{darkred}}
color9 = {{red}}

# YELLOW
color3 = {{darkyellow}}
color11 = {{yellow}}

# GREEN
color2 = {{darkgreen}}
color10 = {{green}}

# CYAN
color6 = {{darkcyan}}
color14 = {{cyan}}

# BLUE
color4 = {{darkblue}}
color12 = {{blue}}

# MAGENTA
color5 = {{darkmagenta}}
color13 = {{magenta}}

color40 = {{bg_dip}}
color41 = {{background}}
color42 = {{bg_status}}
color43 = {{bg_bump}}
color44 = {{bg_jump}}
color45 = {{fg_comment}}
color46 = {{foreground}}
color47 = {{fg_highlight}}
color48 = {{fg_peak}}

color16 = {{red}}
color17 = {{darkred}}

color18 = {{orange}}
color19 = {{darkorange}}

color20 = {{yellow}}
color21 = {{darkyellow}}

color22 = {{spring}}
color23 = {{darkspring}}

color24 = {{green}}
color25 = {{darkgreen}}

color26 = {{teal}}
color27 = {{darkteal}}

color28 = {{cyan}}
color29 = {{darkcyan}}

color30 = {{azure}}
color31 = {{darkazure}}

color32 = {{blue}}
color33 = {{darkblue}}

color34 = {{violet}}
color35 = {{darkviolet}}

color36 = {{magenta}}
color37 = {{darkmagenta}}

color38 = {{pink}}
color39 = {{darkpink}}

[hints]
font = Monospace 8
foreground = {{background}}
background = {{foreground}}
active_foreground = {{bg_dip}}
active_background = {{cyan}}
border = {{bg_jump}}
padding = 2
border_width = 1
roundness = 2

# vim: ft=dosini cms=#%s
